.swiper {
  @apply w-full h-full;
}

.swiper-pagination-bullet {
  @apply bg-white/50 opacity-100 transition-all duration-300 ease-in-out;
  width: 12px !important;
  height: 12px !important;
  margin: 0 8px !important;
  border-radius: 50% !important;
}

.swiper-pagination-bullet:hover {
  @apply bg-white/70;
}

.swiper-pagination-bullet-active {
  @apply bg-secondary opacity-100;
}

.swiper-pagination-bullet-active:hover {
  @apply bg-secondary;
}