@theme {
  --color-primary: #00B6CB;
  --color-primary-light: #ABE0E6;

  --color-secondary: #F7C80C;
  --color-secondary-light: #EDE1B4;

  --color-accent: #101935;

  --font-sans: "Inter", sans-serif;

  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
}